<#include "../include/header.html"/>
<style type="text/css">
    #btn_ul {
        margin-top: 5px;
    }

    #btn_ul li {
        list-style: none;
        float: left;
        margin-right: 2px;
    }

    input {
        width: 250px;
        height: 25px;
    }

    .canNotEdit {
        background: #DDDDDD;
    }
</style>
<body>
<!--<script>-->
<!--function test() {-->
<!--$("#grid").data("kendoGrid").dataItem();-->
<!--console.log("grid",$("#grid").data("kendoGrid").dataItem());-->

<!--}-->
<!--</script>-->
<!--<button onclick="test()">实验</button>-->
<script>
    function canNotEdit() {
        $("#interfaceName").css("background", "#dddddd");
        $("#interfaceName").attr("readonly", "true");
        $("#interfaceDescription").css("background", "#DDDDDD");
        $("#interfaceDescription").attr("readonly", "true");
        $("#startTime").css("background", "#DDDDDD");
        $("#endTime").css("background", "#DDDDDD");
//            $("#dataType").css("background-color", "#DDDDDD");
        //数据类型这个下拉框就要如下写才可以改变颜色、
        $("#dataType").parent().removeClass("k-state-default").addClass("k-state-disabled").unbind();
        $("#dataType").css("background", "#DDDDDD");
        $("#startTime").data("kendoDatePicker").readonly(true);
        $("#endTime").data("kendoDatePicker").readonly(true);
        $("#dataType").data("kendoComboBox").readonly(true);
        $("#removeGrid").attr("disabled", true);
    }
    function canEdit() {
        $("#interfaceName").css("background", "#ffffcc");
        $("#interfaceName").attr("readonly", false);
        $("#interfaceDescription").css("background", "#ffffcc");
        $("#interfaceDescription").attr("readonly", false);
        $("#startTime").data("kendoDatePicker").readonly(false);
        $("#endTime").data("kendoDatePicker").readonly(false);
        $("#dataType").data("kendoComboBox").readonly(false);
        $("#startTime").css("background", "#ffffcc");
        $("#endTime").css("background", "#ffffcc");
        $("#dataType").parent().removeClass("k-state-disabled").addClass("k-state-default").unbind();
        $("#dataType").css("background-color", "#DDDDcc");
    }
</script>
<script>
    var viewModel = Hap.createGridViewModel("#grid");
    var selectResult;
    var myStatus;
    var headerId;
    var queryPageHeaderId = 0;
    var functionCode = "${RequestParameters.functionCode}";
    if (functionCode == "itfDefinitionQuery") {
        queryPageHeaderId = "${RequestParameters.headerId!0}";
        myStatus = "${RequestParameters.myStatus!0}"
        $.ajax({
            url: _basePath + "/hscs/itf/defination/headers/query",
            type: "POST",
            async: false,
            data: {
                headerId: queryPageHeaderId
            },
            success: function (result) {
                selectResult = result.rows[0];
                viewModel.model.interfacename = result.rows[0].interfaceName;
                viewModel.model.interfaceDescription = result.rows[0].description;

            }

        })
    }
</script>


<div class="container" id="headForm" style="margin-top: 5px">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="interfaceName"><@spring.message
                        "hscs.interfacedefinition.interfacename"/></label>
                    <div class="col-xs-7" style="padding: 0px">
                        <input class="k-textbox" style="width:70%" data-bind="value:model.interfacename"
                               data-role="maskedtextbox"
                               type="text" required id="interfaceName">
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="interfaceDescription"><@spring.message
                        "hscs.interfacedefinition.interfacedescription"/></label>
                    <div class="col-xs-7" style="padding: 0px">
                        <input style="width:70%" required data-bind="value:model.interfaceDescription" type="text"
                               data-role="maskedtextbox"
                               id="interfaceDescription">
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="startTime">
                        <@spring.message"hscs.interfacedefinition.starttime"/></label>
                    <div class="col-xs-7" style="padding: 0px">
                        <input id="startTime" required style="width: 70%"/>
                    </div>
                </div>
            </div>
            <script>
                $("#startTime").kendoDatePicker({
                    value: new Date(),
                    change: function () {
                        //当开始的时间改变的时候，改变结束时间的最小时间
                        $("#endTime").data("kendoDatePicker").min(this.value());
                    }
                });

            </script>
        </div>


        <div class="row" style="margin-top: 3px">

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="endTime" style="text-align: right"><@spring.message
                        "hscs.interfacedefinition.endtime"/></label>
                    <div class="col-xs-7" style="padding: 0px">
                        <input id="endTime" style="width: 70%;" data-bind="value:model.interfaceEndTime"/>
                    </div>
                </div>
            </div>
            <script>
                $("#endTime").kendoDatePicker({
                    min: $("#startTime").data("kendoDatePicker").value()
                });

            </script>

            <!--数据类型的下拉框-->
            <script src="${base.contextPath}/common/code?resourceTypeData=HSCS.ITF.DATATYPE"
                    type="text/javascript"></script>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="dataType">
                        <@spring.message "hscs.interfacedefinition.datatype"/></label>
                    <div class="col-xs-7" style="padding: 0px;">
                        <input required id="dataType" style="width: 70%"/>
                    </div>
                </div>
            </div>
            <script>
                var dataType = $("#dataType").kendoComboBox({
                    valuePrimitive: true,
                    dataTextField: "meaning",
                    dataValueField: "meaning",
                    dataSource: resourceTypeData,
                    change: function (e) {
                    }
                });

            </script>

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="endTime"><@spring.message
                        "hscs.interfacedefinition.freeze"/></label>
                    <input id="freeze" data-bind="value:model.frozenFlag" style="width: 20px;height: 20px;">
                </div>
            </div>
            <script>
                $("#freeze").kendoCheckbox({
                    checkedValue: 'Y',
                    uncheckedValue: 'N',
                    change: function (e) {
                        if (selectResult != null) {
                            if (e.values == 'N') {
                                canEdit();
                                $("#grid").data("kendoGrid").setOptions({
                                    editable: true
                                });
                            } else {
                                canNotEdit();
                                $("#grid").data("kendoGrid").setOptions({
                                    editable: false
                                });
                            }
                        }


                    }
                });
                kendo.bind($('#freeze'), viewModel);


            </script>

        </div>
    </form>
</div>
<ul id="btn_ul">
    <li>
        <button class="btn btn-primary" onclick="createNew()"><@spring.message "hap.new"/></button>
    </li>
    <li>
        <button class="btn btn-success" onclick="saveTheWhole()"><@spring.message "hap.save"/></button>
    </li>
    <li>
        <button class="btn btn-danger" onclick="removeTheWhole()"><@spring.message "hap.delete"/></button>
    </li>
</ul>

<!--下面是接口行部分-------------------------------------------------->
<br/>
<script id="addGridTemplate" type="text/x-kendo-template">
    <button id="addGrid" onclick="createRow()" class="btn btn-primary btn-small"
            style="height: 25px;height: 25px">
        <i class="fa fa-plus"></i>
    </button>
</script>

<script id="deleteGridTemplate" type="text/x-kendo-template">
    <button id="removeGrid" onclick="removeRow()" class="btn btn-danger btn-small"
            style="margin-left: 5px;height: 25px;height: 25px">
        <i class="fa fa-minus"></i>
    </button>
</script>
<div id="grid" style="margin-top: 50px;height: 250px" class="k-grid k-widget k-editable">

</div>

<script>
    function resetAll() {
        for (var k in viewModel.model.toJSON()) {
            viewModel.model.set(k, null);
        }
        resetInput();
        //将接口行的信息清空
        console.log("this is ", $("#grid").data("kendoGrid")._data);
        for (var i = 0; i < $("#grid").data("kendoGrid")._data.length; i++) {
            alert(i);
            $("#grid").data("kendoGrid").removeRow("tr:eq(1)");
            $("#grid").data("kendoGrid").refresh();
        }
    }
    function removeTheWhole() {
        resetAll();
        //如果直接进入的接口定义界面
        if ('${RequestParameters.headerId!0}' == 0) {
            //如果此时已经点击了保存按钮,则删除之前保存的数据。
            if (headerId != null) {
                $.ajax({
                    url: _basePath + "/hscs/itf/defination/headers/removeHeaderAndLines",
                    type: "POST",
                    data: {
                        headerId: headerId
                    },
                    success: function (result) {
                        kendo.ui.showInfoDialog({
                            message: "删除成功"
                        })
                    }

                });
            }
        }
    }
    function createNew() {
        parent.openTab("itfDefinition", "新建接口", "${base.contextPath}/hscs/interface_definition.html");
    }
    function saveTheWhole() {
        //判断头部是否符合验证；
        var validator = $("#headForm").kendoValidator().data("kendoValidator");
        if (!validator.validate()) {
            kendo.ui.showInfoDialog({
                message: "请完善接口的头部信息"
            });
            return;
        }
        //判断行部分是否含有数据；
        if (dataSource == null || dataSource.data().length == 0) {
            kendo.ui.showInfoDialog({
                message: "请至少插入一条接口的行数据"
            });
            return;
        }
        //如果是从查询页面执行的保存操作，就执行下面方法。
        if ('${RequestParameters.headerId!0}' != 0) {
            //更新对应行
            $("#grid").data("kendoGrid").saveChanges();
            //更新对应头
            $.ajax({
                url: BaseUrl + "/hscs/itf/defination/headers/insert",
                type: "POST",
                async: false,
                data: {
                    interfaceName: viewModel.model.interfacename,
                    description: viewModel.model.interfaceDescription,
                    strStartDate: $("#startTime").val(),
                    strEndDate: $("#endTime").val(),
                    dataClass: dataType.val(),
                    frozenFlag: viewModel.model.frozenFlag,
                }
            });
            kendo.ui.showInfoDialog({
                title: "恭喜您",
                message: "更新成功"
            });
            return;
        }


        $.ajax({
            url: BaseUrl + "/hscs/itf/defination/headers/insert",
            type: "POST",
            async: false,
            data: {
                interfaceName: viewModel.model.interfacename,
                description: viewModel.model.interfaceDescription,
                strStartDate: $("#startTime").val(),
                strEndDate: $("#endTime").val(),
                dataClass: dataType.val(),
                frozenFlag: viewModel.model.frozenFlag,
            },
            success: function (result) {
                headerId = result;
            }
        });
//            将对应的创建的新的行信息传送到后台
        var data_source = dataSource.data();
        $.each(data_source, function (index, item) {
            item.headerId = headerId;
        })
        var mydata = kendo.stringify(data_source);
        $.ajax({
            url: BaseUrl + "/hscs/itf/defination/lines/insert",
            type: "POST",
            contentType: "application/json",
            data: mydata,
            success: function () {
                kendo.ui.showInfoDialog({
                    title: "提示",
                    message: "插入成功"
                });
            }
        });


    }
</script>
<!--字段类型代码和名称-->
<script src="${base.contextPath}/common/code?dataTypeForColumn=HSCS.ITF.SEGMENTTYPE"
        type="text/javascript"></script>
<!--通用字段的代码和名称-->
<script src="${base.contextPath}/common/code?columnNameSet=HSCS.ITF.SEGMENT"
        type="text/javascript"></script>
<!--值类型-->
<script src="${base.contextPath}/common/code?valueTypeSet=HSCS.GB.VALUETYPE"
        type="text/javascript"></script>
<!--时间格式集合-->
<script src="${base.contextPath}/common/code?dateFormatSet=HSCS_ITF_DATE_FORMAT"
        type="text/javascript"></script>

<script>
    var flexSetColumn;
</script>

<script>

    kendo.bind($("#headForm"), viewModel);
    //将viewModel绑定到toolbar
    kendo.bind($("#removeGrid"), viewModel);
    //接口行的数据源
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        batch: true,
        serverPaging: true,
        pageSize: 10,
        transport: {
            read: {
                url: _basePath + "/hscs/itf/defination/lines/query",
                type: "POST"
            },
            update: {
                url: BaseUrl + "/hscs/itf/defination/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hscs/itf/defination/lines/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hscs/itf/defination/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    $.each(options.models, function (index, item) {
                        item.headerId = queryPageHeaderId;
                    })
                    var datas = Hap.prepareSubmitParameter(options, type)
                    console.log("datas", datas);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    if ('${RequestParameters.headerId!0}' != 0) {
                        viewModel.model.headerId = queryPageHeaderId;
                    } else {
                        viewModel.model.headerId = 0;
                    }
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                }
            }

        },
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "lineId",
                fields: {
                    seqNum: {
                        type: "number",
                        validation: {
                            min: 1
                        },
                        defaultValue: function () {
                            var now = 0;
                            $.each(dataSource._view, function (i, n) {
                                if (n.dirty == true) {
                                    if (n.seqNum > now)
                                        now = n.seqNum;
                                }
                            });
                            return parseInt(now) + 1;
                        }
                    },

                    requiredFlag: {defaultValue: 'N', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'},

                    //显示
                    showFlag: {defaultValue: 'Y', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'},

                    //启用
                    enableFlag: {defaultValue: 'Y', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'},

                    //唯一
                    uniqueFlag: {defaultValue: 'N', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'},

                    enableFlag1: {defaultValue: 'Y', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'},

                    titleText: {validation: {required: true}},
                    columnType: {validation: {required: true}},
                    columnName: {
                        validation: {required: true}
                    },
                    valueType: {validation: {required: true}},
                    showLength: {
                        type: "number",
                        validation: {
                            min: 0
                        }
                    }
                }
            }
        }
    });
</script>
<script>
    function createRow() {
        if (viewModel.model.interfacename == null || $("#startTime").val() == "" || dataType.val() == "") {
            kendo.ui.showInfoDialog({
                title: "注意",
                message: "请完善头信息"
            });
            return;
        }
        $("#grid").data('kendoGrid').addRow();
    }
    function removeRow() {
        var grid = $("#grid").data("kendoGrid");
        var checked = grid.selectedDataItems();
        if (grid.selectedDataItems().length) {
            kendo.ui.showConfirmDialog({
                title: $l('hap.tip.info'),
                message: $l('hap.tip.delete_confirm')
            }).done(function (event) {
                if (event.button == 'OK') {
                    $.each(checked, function (i, v) {
                        grid.dataSource.remove(v)
                    })
                    grid.dataSource.sync();
                }
            })
        }

    }
</script>


<script>
    //        下面是接口行的表
    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: false,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        toolbar: [
            {
                template: kendo.template($("#addGridTemplate").html())
            },
            {
                template: kendo.template($("#deleteGridTemplate").html())
            }
        ],
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "titleText",
                title: '<@spring.message "lov.title"/>',
                width: 120,
                editor: function (container, options) {
                    var input = $('<input required name="' + options.field + '"/>');
                    input.appendTo(container);
                    input.kendoMaskedTextBox({
                        change: function () {
                            if (this.value() != null && this.value() != "") {
                                options.model.set('titleText', this.value());

                            }
                        }
                    });

                }
            },
            {
                field: "columnType",
                title: '<@spring.message "itfdefination.columntype"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoComboBox({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            dataSource: dataTypeForColumn,
                            change: function () {
                                //在change事件中设置lovCode的值，并清空lov表单元素的值
                                options.model.set('columnType', this.text());
                            }
                        });
                }
            },
            {
                field: "columnName",
                title: '<@spring.message "itfdefination.columnname"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input/>')
                        .attr("name", options.field)
                        .appendTo(container)
                        .kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "HSCS_ITF_SEGMENT")},
                            {
                                model: options.model,
                                select: function (e) {
                                    this.text(e.item.meaning);
                                    options.model.set('columnName', e.item.meaning);
                                },
//                                    change: function (e) {
//                                        if (e.sender._prev == '' || e.sender._prev == null) {
//                                            options.model.set('inventoryItem', '');
//                                        }
//                                    }
                            }));
                }
            },
            {
                field: "seqNum",
                title: '<@spring.message "itfdefination.seqNum"/>',
                width: 120
            },
            {
                field: "valueType",
                title: '<@spring.message "itfdefination.valueType"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoComboBox({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            dataSource: valueTypeSet,
                            change: function () {
                                options.model.set('valueType', this.text());
                            },
                            select: function (e) {
                                var itemData = e.dataItem.value;
                                if (itemData == 'DATE') {
//                                        container.next().next().next().next()
                                    options.model.set("columnFormat", null);
                                    options.model.set("columnLen", null);
                                } else {
                                    options.model.set("columnFormat", null);
                                    options.model.set("columnLen", null);
                                }
                            }
                        });
                }
            },
            {
                field: "columnLen",
                title: '<@spring.message "itfdefination.columnLen"/>',
                width: 120,
                editor: function (container, options) {

                    if (options.model.valueType == "字符") {
                        var input = $('<input required type="number" name="' + options.field + '"/>');
                        input.appendTo(container);
                        input.kendoMaskedTextBox({
                            change: function () {
                                if (this.value() != null && this.value() != "") {
                                    options.model.set('columnLen', this.value());
                                }
                            }
                        });
                    } else {
                        var editor = $('<input id="columnFormat"  disabled  style="background-color:#DDDDDD"   class="k-input k-textbox k-valid" type="text" name="columnFormat"/>');
                        editor.css('width', '100%');
                        container.append(editor);
                    }

                }
            },
            {
                field: "valueSet",
                title: '<@spring.message "itfdefination.valueSet"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input/>')
                        .attr("name", options.field)
                        .appendTo(container)
                        .kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "HSCS_ITF_VALUESET")},
                            {
                                model: options.model,
                                select: function (e) {
                                    this.text(e.item.description);
                                    options.model.set('valueSet', e.item.description);


                                    var BaseUrl = _basePath;
                                    $.ajax({
                                        url: BaseUrl + "/hscs/itf/defination/lines/getFlexSetColumn",
                                        dataType: "json",
                                        async: false,
                                        data: {code: e.item.code},
                                        success: function (result) {
                                            flexSetColumn = result.rows;
                                        }
                                    });
                                }
                            }));
                }
            },
            {
                field: "flexSexColumn",
                title: '值集字段',
                width: 120,
                editor: function (container, options) {
                    if (flexSetColumn != null) {

                        $('<input required/>')
                            .appendTo(container)
                            .kendoComboBox({
                                dataTextField: "gridFieldNameDescription",
                                dataValueField: "gridFieldName",
                                dataSource: flexSetColumn,
                                change: function () {
                                    //在change事件中设置lovCode的值，并清空lov表单元素的值
                                    options.model.set('flexSexColumn', this.text());
                                }
                            });

                    }
                }
            },

            {
                field: "columnFormat",
                title: '<@spring.message "itfdefination.columnFormat"/>',
                width: 120,
                editor: function (container, options) {
                    if (options.model.valueType == '日期') {
                        $('<input required name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoComboBox({
                                dataTextField: "value",
                                dataValueField: "value",
                                dataSource: dateFormatSet,
                                change: function () {
                                    options.model.set('columnFormat', this.text());
                                }
                            });
                    } else {
                        var editor = $('<input id="columnFormat"  disabled  style="background-color:#DDDDDD "   class="k-input k-textbox k-valid" type="text" name="columnFormat"/>');
                        editor.css('width', '100%');
                        container.append(editor);
                    }
                }
            },
            {
                field: "requiredFlag",
                title: '<@spring.message "itfdefination.requiredFlag"/>',
                width: 120
            },
            {
                field: "showFlag",
                title: '<@spring.message "itfdefination.showFlag"/>',
                width: 120
            },
            {
                field: "enableFlag",
                title: '<@spring.message "itfdefination.enableFlag"/>',
                width: 120
            },
            {
                field: "uniqueFlag",
                title: '<@spring.message "itfdefination.uniqueFlag"/>',
                width: 120
            },
            {
                field: "showLength",
                title: '<@spring.message "itfdefination.showLength"/>',
                width: 120
            }
        ],
        editable: function () {
            return false;
        }
    });
</script>
<script>
    function initInput() {
        $("#startTime").data("kendoDatePicker").value(selectResult.startDate);
        $("#endTime").data("kendoDatePicker").value(selectResult.endDate);
        $("#dataType").data("kendoComboBox").value(selectResult.dataClass);
        viewModel.model.frozenFlag = selectResult.frozenFlag;
    }
    function resetInput() {
        $("#startTime").data("kendoDatePicker").value(null);
        $("#endTime").data("kendoDatePicker").value(null);
        $("#dataType").data("kendoComboBox").value(null);
        viewModel.model.frozenFlag = "N";
    }
</script>
<script>

    if (selectResult != null) {
//        initInput();
        if (myStatus == "query") {

            canNotEdit();
//                $("#btn_ul").remove();
//                $("#toolbar").unbind();
//                $("#toolbar").hide();
//                $("#addGrid").remove();
//                $("#removeGrid").remove();
            $("#grid").data("kendoGrid").setOptions({
                editable: false
            });

        }
    }
</script>

</body>
</html>